commands:
  01-delete-old-jar:
    command: "sudo rm -f /var/app/sidekick-agent-bootstrap.jar"
  02-delete-old-yml:
    command: "sudo rm -f /var/app/sidekick-config.yml"
  03-download-java-agent:
    command: "sudo aws s3 cp s3://sidekick-releases-lab/agents/sidekick-agent-bootstrap.jar /var/app/"
  04-download-java-agent:
    command: "sudo aws s3 cp s3://sidekick-releases-lab/agents/sidekick-sandbox-config.yml /var/app/sidekick-config.yml"
  05-Change owner of agent artifact file:
    command: "sudo chown webapp:webapp /var/app/sidekick-agent-bootstrap.jar"
  06-Change owner of agent config file:
    command: "sudo chown webapp:webapp /var/app/sidekick-config.yml"
  07-Adjust permissions:
    command: "sudo chmod 664 /var/app/sidekick-agent-bootstrap.jar"
  08-Adjust permissions:
    command: "sudo chmod 664 /var/app/sidekick-config.yml"