commands:
  01-delete-old-yml:
    command: "sudo rm -f /home/webapp/sidekick-config.yml"
  02-download-java-agent-config:
    command: "sudo aws s3 cp s3://sidekick-releases-lab/agents/sidekick-sandbox-config.yml /home/webapp/sidekick-config.yml"
  03-Change owner of agent config file:
    command: "sudo chown webapp:webapp /home/webapp/sidekick-config.yml"
  04-Adjust permissions:
    command: "sudo chmod 664 /home/webapp/sidekick-config.yml"